*{
  margin: 0;
}

.splash-screen{
  background-color: #142328;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lottie-container{
  width: 280px;
  height: 280px;
}